<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/account.css" />
  </head>
  <body>
    <main id="UserData">
      <h2>user information</h2>
      <div id="data"></div>
      <div id="dashboard" class="mt-4">
        <canvas id="statusChart"></canvas>
      </div>
    </main>
    <aside>
      <button id="btn-outline-primary" class="btn btn-outline-primary">
        <a class="dropdown-item" href="/index.html">home</a>
      </button>
      <button id="btn-outline-primary" class="btn btn-outline-primary">
        <a class="dropdown-item" href="/template/loginPage.html"
          >change account</a
        >
      </button>
    </aside>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../script/account.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
