<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/newtask.css" />
  </head>
  <body>
    <main>
      <div id="alert"></div>
      <section>
        <form id="form">
          <div class="form-group">
            <label for="title"><strong>Enter title</strong></label>
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="emailHelp"
              placeholder="Enter title"
            />
          </div>
          <div class="form-group">
            <label for="description"><strong>enter description</strong></label>
            <input
              type="text"
              class="form-control"
              id="description"
              placeholder="Enter description"
            />
          </div>
          <button
            type="submit"
            id="btn-primary"
            class="btn btn-primary"
            id="btn-outline-primary"
            class="btn btn-outline-primary"
          >
            Submit
          </button>
          <div id="divback"></div>
        </form>
      </section>
    </main>
    <script src="../script/newtask.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
